*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" sans-serif;
    text-decoration: none;
}

.cabecalho {
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
        display: flex;
        align-items: center;
        gap: 13px;

        & p {
            font-size: 24px;
            font-weight: bold;
        }
    }

    & .navbar {
        display: flex;
        gap: 30px;

        & a {
            color: black;
            font-size: 24px;
            font-weight: 300;
        }
    }
}

